$header-height: 118px;
$headerTopBar-height: 48px;
$headerMenu: $header-height - $headerTopBar-height;

header {
  width: 100%;
  height: $header-height;
  .headerTopBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $headerTopBar-height;
    background-color: var(--mui-palette-primary-main);
    color: white;
    font-size: 16rem;
    padding: 5px 0;
  }
  .headerMenu {
    height: $headerMenu;
    box-shadow: 0 4px 4px 0 rgba(199, 194, 194, 0.25);
    .mainLogo {
      height: $headerMenu - 2;
      width: $headerMenu - 2;
    }
    .menuContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  section {
    margin-left: 20px;
    svg {
      margin-right: 5px;
    }
  }
  nav {
    ul {
      display: flex;
    }
  }
}

.calendarIcon {
  font-size: 16rem;
  font-weight: 400;
  height: 20px;
  margin-right: 8px;
}
.countDownWrapper {
  margin-left: 60px;
}
